@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

:root {
  --black-5: #f2f6f9;
  --black-10: #dae0e6;
  --black-20: #b8c3cc;
  --black-30: #95a1ac;
  --black-40: #788894;
  --black-60: #58636d;
  --black-70: #454d53;
  --black-80: #3b4146;
  --black-90: #292e33;
  --black-95: #151516;
  --main-light: #2c9bf5;
  --main: #0675ce;
  --main-dark: #00569c;
  --quint-in-out: cubic-bezier(0.86, 0, 0.07, 1);
  --quint-in: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --quint-out: cubic-bezier(0.23, 1, 0.320, 1);
  --secondary-light: #ff7b38;
  --secondary: #ef5c11;
  --secondary-dark: #c94400;
  --shadow-20-bottom: 0 1px 6px 0 var(--black-20);
  --shadow-20-bottom-right: 1px 1px 6px 0 var(--black-20);
  --success-light: #50e8f2;
  --success: #25c1cb;
  --success-dark: #059ca6; 
  --warning-light: #ffba36;
  --warning: #fcab10;
  --warning-dark: #d68d00;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 50px 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

h6 {
  font-weight: 700;
}

p, span, li, time {
  color: var(--black-40);
}

a {
  color: var(--main);
  transition: 0.2s var(--quint-in-out);
}

a:hover {
  color: var(--main-light);
}

a:active {
  color: var(--main-dark);
}

.x-pad-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.max-1200 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

[class|=alert] {
  box-sizing: border-box;
  color: var(--black-95);
  position: fixed;
  top: 50px;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 5px 15px;
  right: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  z-index: 100;
}

[class|=alert] > * {
  color: inherit;
}

.alert-warn {
  background-color: var(--warning-light);
}

.alert-success {
  background-color: var(--success);
  color: #fff;
}

.bar {
  border: 1px solid var(--secondary-light);
}

.logo {
  fill: var(--main-light);
  height: 30px;
  margin-top: -3px;
  transition: 0.3s var(--quint-in-out);
  will-change: filter;
}

.logo:hover {
  filter: brightness(1.1);
}

.button-row {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.button-row > * {
  margin: 10px 5px 0  5px;
}

.button-default {
  background-color: #fff;
  border: 1px solid var(--main);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--main);
  cursor: pointer;
  padding: 4px 12px;
  transition: 0.2s var(--quint-in-out);
  width: max-content;
  white-space: nowrap;
  will-change: color, background-color, border;
}

.button-default:hover {
  background-color: var(--main);
  border-color: var(--main-dark);
  color: #fff;
}

.button-default:active {
  background-color: var(--main-dark);
}

.top-nav {
  background: #fff;
  border-bottom: 1px solid var(--black-20);
  box-shadow: var(--shadow-20-bottom);
  height: 50px;
  justify-items: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.drop-down {
  pointer-events: none;
}

.top-nav li {
  list-style: none;
  margin: 0 10px;
  position: relative;
  white-space: nowrap;
}

.top-nav li:first-child {
  left: 10px;
  margin-left: 0;
  position: absolute;
}

.top-nav ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: flex-end;
}

.top-nav li#current-user-pic {
  margin-right: 0;
  z-index: 1;
}

.top-nav li .current-user-pic {
  border-radius: 50%;
  height: 32px;
  margin-right: 0;
  margin-top: -7px;
  overflow: hidden;
  position: relative;
  width: 32px;
}

.profile-pic {
  left: -2px;
  position: absolute;
  width: 36px;
  z-index: 1;
}

.premium-user {
  border: 2px solid var(--warning-dark);
}

.premium-pic-star {
  bottom: 0;
  color: var(--warning);
  font-size: 0.8rem;
  left: -2px;
  position: absolute;
  visibility: visible !important;
  z-index: 2;
  text-shadow: 0 0 2px var(--warning-dark);
} 

.greet {
  justify-self: flex-end;
  z-index: 2;
}

#hidden-select {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 15px;
  z-index: 0;
}

#hidden-select:after {
  content: '';
  display: inline-block;
  height: 30px;
  left: 50px;
  position: absolute;
  top: 0;
  width: 72px;
}

#hidden-select select {
  cursor: pointer;
}

.visitor-welcome {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.visitor-welcome h1 {
  font-size: 2rem;
}

.card {
  background-color: #fff;
  border: 1px solid var(--black-10);
  border-radius: 4px;
  box-shadow: var(--shadow-20-bottom-right);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  transform-origin: center center;
  transition: 0.2s var(--quint-in);
  will-change: transform, box-shadow;
  padding: 0;
}

.card-micro {
  flex-direction: row;
  height: 90px;
}

.card-macro.event {
  border-radius: 0;
  height: 100%;
  margin: 0 !important;
  width: 100%;
}

.card-macro.card:hover {
  transform: scale(1);
}

.card-micro .card-cover {
  order: -2;
  width: 72px;
}

.card-macro .card-cover {
  background-position: top center;
  height: 80%;
  order: -2;
}

.card-micro header {
  left: 67px;
  position: absolute !important;
  top: -5px;
}

.card-micro .card-info {
  padding: 10px !important;
  margin-top: 28px;
}

.card-micro .card-info > * {
  margin: 2px 0 !important;
}

.card-macro .card-info {
  flex-direction: row;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 9px 0 var(--black-10);
}

.card-info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}

.card-info > * {
  font-size: 0.9rem;
  margin: 5px 0;
}

.card-info .event-date {
  font-size: 1rem;
}

.card i {
  display: inline-block;
  margin: 0 5px;
}

.card-micro .card-info i, .card-micro .flag-64 {
  display: none;
}

.card-macro .flag-64 {
  top: -32px;
}

.card-micro .more {
  color: var(--black-30);
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-micro .more:hover {
  color: var(--main-light);
}

.card header {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 56px;
  justify-content: space-between;
  padding: 0 15px;
  position: relative;
}

[class|=flag] {
  border-radius: 50%;
  box-shadow: 0 0 2px 0 var(--black-20);
  flex-shrink: 0;
  height: 36px;
  position: absolute;
  overflow: hidden;
  right: -24px;
  width: 36px;
  z-index: 3;
}

[class|=flag] img {
  left: -14px;
  position: absolute;
  top: -14px;
  width: 64px;
}

.card .title {
  font-size: 1.3rem;
  width: max-content;
}

.card-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  height: 160px;
  position: relative;
  width: 100%;
}

.card-cover:after {
  background-image: linear-gradient(to bottom right, transparent 20%, var(--black-95));
  content: '';
  height: 100%;
  left: 0;
  top: 0;
  opacity: 1;
  position: absolute;
  transition: 0.3s var(--quint-in-out);
  width: 100%;
}

.card:hover .card-cover:after {
  opacity: 0;
}

/* MeetUp, Leap, Recruiting, Mission, VanHackathon, Premium-only Webnar, Open Webnar */
.meetup-cover {
  background-image: url('https://images.pexels.com/photos/1015568/pexels-photo-1015568.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
}

.leap-cover {
  background-image: url('https://images.pexels.com/photos/1381415/pexels-photo-1381415.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
}

.recruiting-cover {
  background-image: url('https://images.pexels.com/photos/1181715/pexels-photo-1181715.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
}

.mission-cover {
  background-image: url('https://images.pexels.com/photos/3321793/pexels-photo-3321793.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
}

.vanhackathon-cover {
  background-image: url('https://images.pexels.com/photos/1181472/pexels-photo-1181472.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
}

.webnar-cover {
  background-image: url('https://blog.zoom.us/wordpress/wp-content/uploads/2019/08/zoom-video-webinar-apps.jpg');
}

.event-type {
  align-items: center;
  background-color: #ffffffdd;
  bottom: 10px;
  color: var(--main-light);
  display: flex;
  font-size: 1.5rem;
  height: 30px;
  justify-content: space-between;
  left: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
}

.event-flag {
  align-items: center;
  border: 2px solid var(--main-light);
  background-color: var(--main-light);
  border-radius: 50%;
  color: #fff;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
  width: 40px;
}

.event-name {
  color: var(--main-light);
  font-size: 1.1rem;
  font-weight: bold;
  margin-right: 10px;
}

.card-micro .event-type {
  background-color: transparent;
  top: 0;
}

.card-micro .event-name {
  display: none;
}

.card-micro .event-flag {
  border: 0;
  font-size: 1.1rem;
  height: 25px;
  margin-left: 5px;
  width: 25px;
}

.events {
  background-color: var(--black-5);
  display: flex;
  height: 390px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: visible;
  scrollbar-width: none;
}

.events::-webkit-scrollbar {
  display: none;
}

.events-past {
  height: max-content;
}

.events-attending {
  align-items: flex-end;
  display: flex;
  height: 50vh;
}

.events-empty {
  align-items: center;
  background-image: linear-gradient(to bottom right, var(--main), var(--success-light));
  flex-direction: column;
  height: max-content;
  justify-content: center;
  padding: 30px 0;
}

.events-empty p {
  color: #fff;
  margin: 5px 0;
}

.event {
  margin: 10px 20px;
  white-space: nowrap;
  width: 320px;
  overflow: hidden;
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
  .event {
    margin: 0 20px !important;
  }

  .events {
    overflow-y: visible;
    padding: 20px 0;
  }
}

.premium-row {
  align-items: center;
  background: linear-gradient(to right, var(--warning-dark) 10%, var(--warning-light) 60%);
  bottom: 5px;
  box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  height: 31px;
  justify-content: space-between;
  padding: 5px 10px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.premium-row span {
  color: var(--black-95);
  font-weight: bold;
  letter-spacing: 0.1rem;
  opacity: 0.8;
  text-shadow: 1px 1px var(--warning-dark);
  text-transform: uppercase;
}

.premium-row .premium-star {
  color: var(--warning-dark);
  font-size: 1.9rem;
  z-index: 2;
}

.premium-star-back {
  color: var(--warning-light);
  font-size: 2.25rem;
  left: 7px;
  position: absolute;
  top: -3.5px;
  z-index: 1;
}

/* 
leap: <i class="fas fa-rainbow"></i>
mission: <i class="fas fa-users"></i>
vanhackathon: <i class="fas fa-laptop-code"></i>
*/

.modal {
  background-color: #ffffff;
  border: 1px solid grey;
  border-radius: 5px;
  left: calc(50vw - 200px);
  height: max-content;
  position: fixed;
  top: calc(50vh - 100px);
  width: 400px;
  z-index: 1000;
}

.modal.card {
  box-shadow: 3px 3px 10px 0 var(--black-70);
  transition: 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal.card:hover {
  transform: scale(1);
}

.modal .fa-times {
  color: var(--black-20);
  cursor: pointer;
  font-size: 1.1rem;
  position: absolute;
  right: 12px;
  top: 10px;
  transform: 0.3s var(--quint-in-out);
}

.modal .fa-times:hover {
  color: var(--main-light);
}

.modal-content {
  margin: 20px 30px;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000077;
  z-index: 500;
}

.hidden {
  display: none;
}

.show {
  animation: showFade 0.3s var(--quint-out) forwards;
}

.leave {
  animation: leaveFade 0.3s var(--quint-in) forwards;
}

@keyframes showFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes leaveFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}