@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

:root {
  --black-5: #f2f6f9;
  --black-10: #dae0e6;
  --black-20: #b8c3cc;
  --black-30: #95a1ac;
  --black-40: #788894;
  --black-60: #58636d;
  --black-70: #454d53;
  --black-80: #3b4146;
  --black-90: #292e33;
  --black-95: #151516;
  --danger-light: #ff6161;
  --danger: #d93131;
  --danger-dark: #b30e0e;
  --main-light: #2c9bf5;
  --main: #0675ce;
  --main-dark: #00569c;
  --quint-in-out: cubic-bezier(0.86, 0, 0.07, 1);
  --quint-in: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --quint-out: cubic-bezier(0.23, 1, 0.320, 1);
  --secondary-light: #ff7b38;
  --secondary: #ef5c11;
  --secondary-dark: #c94400;
  --shadow-20-bottom: 0 1px 6px 0 var(--black-20);
  --shadow-20-bottom-right: 1px 1px 6px 0 var(--black-20);
  --success-light: #50e8f2;
  --success: #25c1cb;
  --success-dark: #059ca6; 
  --warning-light: #ffba36;
  --warning: #fcab10;
  --warning-dark: #d68d00;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 50px 0 0 0;
}

svg {
  height: 100%;
}

@media only screen and (min-width: 1220px) {
  body {
    box-shadow: inset calc(-10px + (100vw - 1220px)/2) 0 10px 0 var(--black-5), inset calc((100vw - 1220px)/2) 0 0 0 var(--black-10), inset calc(10px + (-100vw + 1220px)/2) 0 10px 0 var(--black-5), inset calc((-100vw + 1220px)/2) 0 0 0 var(--black-10);
  }
  h2.max-1200 {
    padding-left: 60px;
  }
  h3.max-1200 {
    padding-left: 10px;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

h2 {
  margin: 10px 0;
}

h3 {
  margin-top: 15px;
  margin-bottom: 0;
}

h6 {
  font-weight: 700;
}

p, span, li, time {
  color: var(--black-40);
}

a, .tooltip-owner {
  color: var(--main);
  cursor: pointer;
  transition: 0.2s var(--quint-in-out);
}

a:hover, .tooltip-owner:hover {
  color: var(--main-light);
}

a:active {
  color: var(--main-dark);
}

.x-pad-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.max-1200 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.selected {
  box-shadow: 0 0 0 2px var(--main-light);
  border-radius: 4px;
}

.fa-caret-down {
  pointer-events: none;
}

[class|=alert] {
  box-sizing: border-box;
  color: var(--black-95);
  position: fixed;
  top: 50px;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 5px 15px;
  right: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  z-index: 100;
}

[class|=alert] > * {
  color: inherit;
}

.alert-warn {
  background-color: var(--warning-light);
}

.alert-success {
  background-color: var(--success);
  color: #fff;
}

.alert-error {
  background-color: var(--danger);
  color: #fff;
}

.logo {
  fill: var(--main-light);
  height: 30px;
  margin-top: -3px;
  transition: 0.3s var(--quint-in-out);
  will-change: filter;
}

.logo:hover {
  filter: brightness(1.1);
}

.button-row {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.button-row > * {
  margin: 10px 5px 0  5px;
}

.button-default {
  background-color: #fff;
  border: 1px solid var(--main);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--main);
  cursor: pointer;
  padding: 4px 12px;
  transition: 0.2s var(--quint-in-out);
  width: max-content;
  white-space: nowrap;
  will-change: color, background-color, border;
}

.button-default:hover {
  background-color: var(--main);
  border-color: var(--main-dark);
  color: #fff;
}

.button-default:active {
  background-color: var(--main-dark);
}

.top-nav {
  background: #fff;
  border-bottom: 1px solid var(--black-20);
  box-shadow: var(--shadow-20-bottom);
  height: 50px;
  justify-items: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.top-nav li {
  list-style: none;
  margin: 0 10px;
  position: relative;
  white-space: nowrap;
}

.top-nav li:first-child {
  left: 10px;
  margin-left: 0;
  position: absolute;
}

.top-nav ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: flex-end;
}

.top-nav li#current-user-pic {
  margin-right: 0;
  z-index: 1;
}

.top-nav li .current-user-pic {
  border-radius: 50%;
  height: 32px;
  margin-right: 0;
  margin-top: -7px;
  overflow: hidden;
  position: relative;
  width: 32px;
}

.profile-pic {
  left: -2px;
  position: absolute;
  width: 36px;
  z-index: 1;
}

.premium-user {
  border: 2px solid var(--warning-dark);
}

.premium-pic-star {
  bottom: 0;
  color: var(--warning);
  font-size: 0.8rem;
  left: -2px;
  position: absolute;
  visibility: visible !important;
  z-index: 2;
  text-shadow: 0 0 2px var(--warning-dark);
} 

.greet {
  justify-self: flex-end;
  z-index: 2;
}

.visitor-welcome {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.visitor-welcome h1 {
  font-size: 2rem;
}

.empty.events {
  align-items: center;
  background-color: var(--black-10);
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: bold;
  height: max-content;
  padding: 80px 0;
  text-align: center;
}

.empty.events p {
  color: #fff;
}

.empty.events i {
  color: var(--black-30);
}

.card {
  background-color: #fff;
  border: 1px solid var(--black-10);
  border-radius: 4px;
  box-shadow: var(--shadow-20-bottom-right);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  transform-origin: center center;
  transition: 0.2s var(--quint-in);
  will-change: transform, box-shadow;
  padding: 0;
}

.card-micro {
  flex-direction: row;
  height: 90px;
}

.card-macro.event {
  border-radius: 0;
  height: 100%;
  margin: 0 !important;
  width: 100%;
}

.card-macro.card:hover {
  transform: scale(1);
}

.card-macro.card .title {
  font-size: 2rem;
}

.card-micro .card-cover {
  order: -2;
  width: 72px;
}

.card-macro .card-cover {
  background-position: top center;
  height: 80%;
  order: -2;
}

.card-micro header {
  left: 67px;
  position: absolute !important;
  top: -5px;
}

.card-micro .card-info {
  padding: 10px !important;
  margin-top: 28px;
}

.card-info .info-top {
  display: flex;
  justify-content: space-between;
}

.info-top span {
  margin: 0 5px;
  font-style: oblique;
}

.card-micro .card-info > * {
  margin: 2px 0 !important;
}

.card-macro .card-info {
  flex-direction: row;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 9px 0 var(--black-10);
}

.card-info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}

.card-info > * {
  font-size: 0.9rem;
  margin: 5px 0;
}

.card-info .event-date {
  font-size: 1rem;
}

.card i {
  display: inline-block;
  margin: 0 5px;
}

.card-micro .card-info i, .card-micro .flag-64 {
  display: none;
}

.card-macro .flag-64 {
  top: -32px;
}

.card-micro .more {
  color: var(--black-30);
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-micro .more:hover {
  color: var(--main-light);
}

.card header {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 56px;
  justify-content: space-between;
  padding: 0 15px;
  position: relative;
}

[class|=flag] {
  border-radius: 50%;
  box-shadow: 0 0 2px 0 var(--black-20);
  flex-shrink: 0;
  height: 36px;
  position: absolute;
  overflow: hidden;
  right: -24px;
  width: 36px;
  z-index: 3;
}

[class|=flag] img {
  left: -14px;
  position: absolute;
  top: -14px;
  width: 64px;
}

.card .title {
  font-size: 1.3rem;
  width: max-content;
}

.card-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  height: 160px;
  position: relative;
  width: 100%;
}

.card-cover:after {
  background-image: linear-gradient(to bottom right, transparent 20%, var(--black-95));
  content: '';
  height: 100%;
  left: 0;
  top: 0;
  opacity: 1;
  position: absolute;
  transition: 0.3s var(--quint-in-out);
  width: 100%;
}

.card:hover .card-cover:after {
  opacity: 0;
}

/* MeetUp, Leap, Recruiting, Mission, VanHackathon, Premium-only Webinar, Open Webinar */
.meetup-cover {
  background-image: url('https://images.pexels.com/photos/1015568/pexels-photo-1015568.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
}

.leap-cover {
  background-image: url('https://images.pexels.com/photos/1381415/pexels-photo-1381415.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
}

.recruiting-cover {
  background-image: url('https://images.pexels.com/photos/1181715/pexels-photo-1181715.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
}

.mission-cover {
  background-image: url('https://images.pexels.com/photos/3321793/pexels-photo-3321793.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
}

.vanhackathon-cover {
  background-image: url('https://images.pexels.com/photos/1181472/pexels-photo-1181472.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
}

.webinar-cover {
  background-image: url('https://blog.zoom.us/wordpress/wp-content/uploads/2019/08/zoom-video-webinar-apps.jpg');
}

.event-type {
  align-items: center;
  background-color: #ffffffdd;
  bottom: 10px;
  color: var(--main-light);
  display: flex;
  font-size: 1.5rem;
  height: 30px;
  justify-content: space-between;
  left: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
}

.event-flag {
  align-items: center;
  border: 2px solid var(--main-light);
  background-color: var(--main-light);
  border-radius: 50%;
  color: #fff;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
  width: 40px;
}

.event-name {
  color: var(--main-light);
  font-size: 1.1rem;
  font-weight: bold;
  margin-right: 10px;
}

.card-micro .event-type {
  background-color: transparent;
  top: 0;
}

.card-micro .event-name {
  display: none;
}

.card-micro .event-flag {
  border: 0;
  font-size: 1.1rem;
  height: 25px;
  margin-left: 5px;
  width: 25px;
}

.events {
  background-color: var(--black-5);
  display: flex;
  height: 390px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: visible;
  scrollbar-width: none;
}

.events::-webkit-scrollbar {
  display: none;
}

.events-past {
  box-shadow: 0 60px 0 0 #fff;
  height: max-content;
  margin-bottom: 50px;
}

.events-attending {
  align-items: flex-end;
  display: flex;
  height: 50vh;
}

.attending-next {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: 100px;
  justify-content: flex-start;
  overflow-x: scroll;
  padding-top: calc(20px + 1rem);
  position: relative;
  scrollbar-width: none;
}

.attending-next h3 {
  position: absolute;
  top: 0px;
}

.attending-next::-webkit-scrollbar {
  display: none;
}

.attending-next-thumb {
  background-color: var(--black-5);
  border: 2px dashed var(--black-20);
  flex-shrink: 0;
  height: 80px;
  margin: 0 10px;
  opacity: 1;
  overflow: visible;
  cursor: pointer;
  transition: 0.2s var(--quint-out);
  width: 80px;
  will-change: background-color;
}

.attending-next-thumb:hover {
  background-color: #f2f6f999;
}

.attending-next-thumb .event {
  box-shadow: 0 0 2px 2px var(--black-20);
  pointer-events: hover;
  width: 100%;
}

.attending-next-thumb:hover .event {
  transform: scale(1.05);
}

.attending-next-thumb header {
  height: 24px;
  padding: 0 5px;
  width: 100%;
}

.attending-next-thumb .premium-row, .attending-next-thumb .event-type {
  height: 10px;
  width: 100%;
}

.attending-next-thumb .premium-row span, .attending-next-thumb .event-type span {
  display: none;
}

.attending-next-thumb .premium-row .premium-star, .attending-next-thumb .premium-star-back {
  font-size: 1rem;
  margin-left: 0;
}

.attending-next-thumb .event-type {
  position: absolute;
  top: 0;
  left: -40px;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 45px solid transparent;
  border-top: 40px solid var(--main-light);
  background-color: transparent;
}

.attending-next-thumb .event-flag {
  background-color: transparent;
  border: none;
  border-radius: 0;
  font-size: 1.05rem;
  left: -8px;
  margin-left: 0;
  overflow: hidden;
  position: absolute;
  top: -48px;
}

.attending-next-thumb .flag-64 {
  height: 20px;
  left: 10px;
  top: -26px;
  width: 20px;
}

.attending-next-thumb .flag-64 img {
  left: -6px;
  top: -6px;
  width: 32px;
}

.attending-next-thumb .flag-64 {
  height: 20px;
  width: 20px;
}

.attending-next-thumb .card-macro.card header .title {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.attending-next-thumb .card-info {
  display: none;
}

.events-empty {
  align-items: center;
  background-image: linear-gradient(to bottom right, var(--main), var(--success-light));
  flex-direction: column;
  height: max-content;
  justify-content: center;
  padding: 30px 0;
}

.events-empty p {
  color: #fff;
  margin: 5px 0;
}

.event {
  margin: 10px 20px;
  white-space: nowrap;
  width: 320px;
  overflow: hidden;
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
  .event {
    margin: 0 20px !important;
  }

  .events {
    overflow-y: visible;
    padding: 20px 0;
  }
}

.premium-row {
  align-items: center;
  background: linear-gradient(to right, var(--warning-dark) 10%, var(--warning-light) 60%);
  bottom: 5px;
  box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  height: 31px;
  justify-content: space-between;
  padding: 5px 10px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.premium-row span {
  color: var(--black-95);
  font-weight: bold;
  letter-spacing: 0.1rem;
  opacity: 0.8;
  text-shadow: 1px 1px var(--warning-dark);
  text-transform: uppercase;
}

.premium-row .premium-star {
  color: var(--warning-dark);
  font-size: 1.9rem;
  z-index: 2;
}

.premium-star-back {
  color: var(--warning-light);
  font-size: 2.25rem;
  left: 7px;
  position: absolute;
  top: -3.5px;
  z-index: 1;
}

.modal {
  background-color: #ffffff;
  border: 1px solid grey;
  border-radius: 5px;
  left: calc(50vw - 200px);
  height: max-content;
  position: fixed;
  top: -800px;
  width: 400px;
  z-index: 1000;
}

.modal-close {
  z-index: 10;
}

.social-media {
  display: flex;
  justify-content: flex-end;
}

.modal.card {
  box-shadow: 3px 3px 10px 0 var(--black-70);
  transition: 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal.card:hover {
  transform: scale(1);
}

.modal .fa-times {
  color: var(--black-20);
  cursor: pointer;
  font-size: 1.1rem;
  position: absolute;
  right: 12px;
  top: 10px;
  transform: 0.3s var(--quint-in-out);
}

.modal .fa-times:hover {
  color: var(--main-light);
  z-index: 10;
}

.modal-content {
  margin: 20px 30px;
}

.ico-svg {
  width: 1rem;
}

.modal-message.modal {
  overflow: hidden;
  width: 650px;
}

.modal-message.modal .modal-content {
  width: 100%;
  padding: 0;
  margin: 0;
}

.premium-modal {
  width: 100%;
}

.modal .modal-content .premium-image {
  align-items: flex-end;
  background-image: linear-gradient(to bottom, transparent 30%, #2c9bfa55, var(--main-dark)), url('https://cocreate.ie/wp-content/uploads/2016/12/Depositphotos_73022225_m-2015.jpg');
  background-position: center top;
  color: #fff;
  display: flex;
  height: 350px;
  justify-content: space-between;
  margin: 0 0 10px 0;
  padding: 5px 20px;
  position: relative;
}

.premium-image button {
  margin: 10px 0;
}

.button-premium {
  background: linear-gradient(to bottom, var(--warning-light), var(--warning-dark));
  border: 2px solid var(--warning-dark);
  box-shadow: 1px 1px 5px 0 var(--warning-light);
  color: var(--black-90);
  font-size: 1.1rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px var(--warning-light);
}

.button-premium .fa-star {
  color: var(--warning-dark);
}

.button-premium:hover .fa-star {
  color: var(--warning-light);
}

.button-premium:hover {
  background: linear-gradient(to bottom, var(--warning-dark), var(--warning-light));
  border: 2px solid var(--warning-light);
  color: var(--black-90);
  text-shadow: 1px 1px 1px var(--warning-dark);
}

.button-premium:active {
  color: var(--warning-dark);
  text-shadow: -1px -1px 1px var(--warning-light);
}

.button-premium:active .fa-star {
  color: var(--warning-dark);
}

.premium-description {
  box-sizing: border-box;
  padding: 25px 25px 50px 25px;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000077;
  z-index: 500;
}

.hidden {
  display: none;
}

.show {
  animation: showFade 0.3s var(--quint-out) forwards;
}

.leave {
  animation: leaveFade 0.3s var(--quint-in) forwards;
}

@keyframes showFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes leaveFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.app-footer {
  background-color: var(--black-90);
  height: 50px;
  overflow: hidden;
  width: 100%;
}

.app-footer ul {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0 10px;
}

.app-footer li {
  flex-shrink: 0;
  list-style: none;
  margin-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app-footer .logo {
  fill: var(--main);
  margin-top: 5px;
}

/* TOOLTIPS */
.tooltip-owner {
  position: relative;
}

.tooltip-media {
  padding-top: 20px;
  margin-bottom: 20px;
}

.tooltip {
  align-items: center;
  background-color: #fff;
  border: 1px solid var(--black-20);
  border-radius: 4px;
  box-shadow: var(--shadow-20-bottom);
  display: none;
  position: absolute;
  right: -1rem;
  top: -1.5rem;
}

.tooltip-row {
  flex-direction: row;
  padding: 2px;
}

.tooltip-row > * {
  margin: 3px 2px;
}

.tooltip-column {
  flex-direction: column;
  padding: 5px 4px;
}

.tooltip-column > * {
  padding: 8px 4px;
  width: 100%;
}

.tooltip-column > * + * {
  border-top: 1px solid var(--black-10);
}

.tooltip-owner:hover .tooltip, .tooltip:hover {
  display: flex;
}

/* USER SELECTOR */
.user-selector {
  align-items: center;
  background-color: var(--black-5);
  border-radius: 15px;
  box-shadow: inset 2px 2px 1px 0  var(--black-10), inset -2px -3px 0 0 #fff;
  box-sizing: border-box;
  display: flex;
  height: 32px;
  justify-content: space-between;
  margin-top: 10px;
  padding: 8px 10px 8px 20px;
  width: 200px;
}

.drop-down {
  cursor: pointer;
  padding-top: 0;
  pointer-events: all;
  width: 20px;
}

.drop-down .tooltip {
  top: 2.3rem;
}

.user-selector::before {
  color: var(--black-10);
  content: 'Visitor';
}

.user-selector-open.user-selector::before {
  content: '';
}

.user-selector-open.user-selector {
  box-shadow: inset 2px 2px 1px 0 #fff, inset -2px -3px 0 0 var(--black-10);
}

.user-selector-open .tooltip, .tooltip-open {
  display: flex;
}

.user-selector:hover .tooltip, .drop-down:hover .tooltip {
  display: none;
}

.user-selector-open:hover .tooltip {
  display: flex;
}

.user-selector .tooltip {
  box-sizing: border-box;
  font-weight: bold;
  left: 0;
  text-align: left;
  top: 38px;
  width: 100%;
  z-index: 20;
}

.user-selector .tooltip a {
  box-sizing: border-box;
  cursor: pointer;
  padding-left: 20px;
  text-decoration: none;
  transition: 0.2s ease-in;
  width: 100%;
}

.user-selector .tooltip a:hover {
  background-color: var(--black-5);
}

/* LOADER */
.load-cover {
  background-color: #fff;
  height: 100vh;
  opacity: 1;
  pointer-events: none;
  position: fixed;
  width: 100vw;
  z-index: 400;
}

.load-over {
  animation: fade2View 0.5s var(--quint-in) forwards;
}

.loader {
  height: 400px;
  left: calc(50vw - 200px);
  position: absolute;
  top: calc(40vh - 200px);
  transform: scale(0.3);
  transform-origin: center center;
  width: 400px;
  z-index: 300;
}

.ring {
  animation: dash 3s var(--quint-out) infinite;
  stroke-dasharray: 1000;
  stroke-width: 16;
  stroke: #34b4ec;
}

.hack {
  animation: dashu 2s linear infinite;
  fill: #34b4ec22;
  left: 0;
  position: absolute;
  stroke: #34b4ec;   
  stroke-dasharray: 80;
  stroke-width: 4;
  top: 0;
  transform: scale(0.75) translate(-22px, 11px);
  transform-origin: center center;
}

@keyframes dashu {
  0% {
    stroke-dashoffset: 0;    
  }
  100% {
    stroke-dashoffset: 160;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 0;    
  }
  100% {
    stroke-dashoffset: 2400;
    stroke-dasharray: 1200;
  }
}

@keyframes fade2View {
  100% {
    opacity: 0;
  }
}